<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Ingredient</title>
    <link rel="stylesheet" th:href="@{/css/createIngredient.css}" type="text/css">
</head>
<body>

<div class="container">
    <h2>Create Ingredient</h2>

    <form action="/admin/ingredients/create" method="post" th:object="${ingredientDto}">
        <div class="form-group">
            <label for="ingredientName">Ingredient Name:</label>
            <input type="text" id="ingredientName" name="ingredientName" th:field="*{ingredientName}" class="custom-input" required/>
        </div>


        <div class="form-group">
            <label for="unit">Unit:</label>
            <select id="unit" name="unit" th:field="*{unit}" class="custom-select" required>
                <option th:each="unit : ${T(com.kuvari.FoodForge.models.enums.Unit).values()}" th:value="${unit}" th:text="${unit}"></option>
            </select>
        </div>

        <div class="button-container">
            <button type="submit">Create Ingredient</button>
        </div>

        <div th:if="${errorMessage}" class="error-message">
            <p th:text="${errorMessage}"></p>
        </div>

        <div th:if="${successMessage}" class="success-message">
            <p th:text="${successMessage}"></p>
        </div>
    </form>
</div>

</body>
</html>
